{% extends "account/base.html" %}
{% load i18n %}
{% load bootstrap %}

{%block title%}
    {%trans "User settings"%}
{%endblock%}

{%block account_nav_profile%}active{%endblock%}

{%block account_content%}
    <h1>{%trans "User settings"%}</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{ userform|bootstrap }}
        {{ userprofileform|bootstrap }}
        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
    </form>
{%endblock%}

