{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load journey_tags %}

{% block content %}

<div id="prechod"><h2>Přidat vozidlo</h2></div>
<div id="stranka">
  <form class="" action="draft_pridat_vozidlo.html" method="post">
    <h4>Značka Vašeho vozidla</h4>
    <input type="text" name="znacka_voz" />
    <h4>Barva Vašeho vozidla</h4>
    <input type="color" name="barva_voz" id="vyber_barvy" />
    <h4>Další vlastnosti</h4>
    <label>Ve vozidle je klimatizace:</label><input class="vlas_voz" type="checkbox" name="vlastnost" value="klimatizace" /><br />
    <label>Ve vozidle se smí kouřit:</label><input class="vlas_voz" type="checkbox" name="vlastnost" value="kourit" /><br />
    <label>Ve vozidle se smí přepravovat pes / zvíře:</label><input class="vlas_voz" type="checkbox" name="vlastnost" value="preprava_zvirat" /><br />
    <label>Vozidlo má dálniční známku:</label><input class="vlas_voz" type="checkbox" name="vlastnost" value="dalnicni_znamka" /><br />
    <label>Ve vozidle je Wi-Fi:</label><input class="vlas_voz" type="checkbox" name="vlastnost" value="wifi" /><br />
    <h4>SPZ Vašeho vozidla</h4>
    <p class="informace">
      Poznámka:<br />
      SPZ Vašeho vozidla vyplňovat NEMUSÍTE, jedná se o dobrovolný údaj.<br />
      V případě vyplnění ulehčíte spolucestujícím snažší nalezení.
    </p>
    <input type="text" name="spz_vozidla" />
    <input type="submit" value="Uložit vozidlo" id="tlacitko"/>
  </form>

  <!-- POZOR, JE TO JEN MUSTR NA BUDOUCI VYPIS VOZIDEL! -->
  {% for vehicle in vehicle_list %}
  <div class="pulsegment">
    <p class="nadpis_hod">
      {{ _('Vozidlo:') }}<br />
      {{ _('Barva:') }}<br />
      {{ _('SPZ:') }}
    </p>
  </div>
  <div class="pulsegment">
    <p class="text_hod">
      {{ vehicle.name }}<br />
      {{ vehicle.color }}<br />
      {{ vehicle.register }}
    </p>
  </div>
  <div>
    <form action="car_management.html" method="post">
      <input type="hidden" name="vehicle_name" value="{{ vehicle.name }}">
      <input type="hidden" name="vehicle_id" value="{{ vehicle.veh_id }}">
      <input type="submit" class="tlacitko" value="Smazat vozidlo">
    </form>
  </div>
  {% endfor %}


{% endblock %}
