{% extends "base.html" %}

{% block content %}
<div id="prechod"><h4>Správa vozidel</h4></div>
<div id="stranka">
  <form action="{% url 'car_mgmt' %}" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <p class="informace">POZNÁMKA:<br />
      SPZ Vašeho vozidla vyplňovat NEMUSÍTE, jedná se o dobrovolný údaj.<br />
      V případě vyplnění ulehčíte spolucestujícím snažší nalezení.</p>
      <input type="submit" name="pridat_vozidlo" value="Vložit nové vozidlo" class="tlacitko">
  </form>
  <br />
  <p class="informace">Seznam vozidel</p>

{% for inc in car_list %}

<br /><div class="sez_voz">
  {{ inc }}<br />
    <form action="{% url 'car_mgmt' %}" method="POST">{% csrf_token %}
      <input type="hidden" name="<id_vozidla>" value="<id_vozidla>" />
      <input type="submit" name="odstranit_vozidlo" value="Odstranit vozidlo", class="tlacitko" />
    </form>
</div>
{% endfor %}
</div>

{% endblock content %}
