{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load journey_tags %}

{% block content %}

<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
Filter: {{ filter.city_from.city }} (ID:{{ filter.city_from.id }}) --- {{ filter.city_to.city }} (ID:{{ filter.city_to.id }})<br>
<table class="table">
    <tr>
        <th>(ID)</th>
        <th>{{ _('From') }}</th>
        <th>{{ _('to') }}</th>
        <th>{{ _('date') }}</th>
        <th>{{ _('driver') }}</th>
        <th>{{ _('free') }}/{{ _('seats') }}</th>
    </tr>
{% for journey in journey_list %}
    <tr>
        <td><a href="{% url 'journey_detail' journey.id %}">{{ journey.id }}</a></td>
        <td>
            {{ journey.journeywaypoints_set|first_city}}
            {% if journey.journeywaypoints_set|first_city_id != filter.city_from.id %}
                ...{{ filter.city_from.city }}
            {% endif %}
        </td>
        <td>
            {% if journey.journeywaypoints_set|last_city_id != filter.city_to.id %}
                {{ filter.city_to.city }}...
            {% endif %}
            {{ journey.journeywaypoints_set|last_city }}
        </td>
        <td>{{ journey.date }}</td>
        <td>{{ journey.driver.first_name }} {{ journey.driver.last_name }}</td>
        <td>
            {% if is_filter_active %}
            {% count_free_seats journey filter.city_from filter.city_to %}/{{ journey.seats }}
            {% else %}
            {% count_free_seats journey journey.journeywaypoints_set|first_city journey.journeywaypoints_set|last_city %}/{{ journey.seats }}
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

    <script>
function initAutocomplete() {
  autocomplete_from = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('id_city_from')),
      {types: ['geocode']});
  autocomplete_to = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('id_city_to')),
      {types: ['geocode']});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  //autocomplete.addListener('place_changed', fillInAddress);
}


    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAen5jtHmdJ5ZW3ZOCoqDVjZLkDlILJ014&signed_in=true&libraries=places&callback=initAutocomplete&language=cs-CZ" async defer></script>

{% endblock %}
