{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load journey_tags %}

{% block content %}

<h1>{{ object.journeywaypoints_set|first_city }} --&gt; {{ object.journeywaypoints_set|last_city }}</h1>
<ul>
    <li>{{ object.driver|pretty_name }}</li>
</ul>
<table>
    <tr>
    {% for waypoint in object.journeywaypoints_set|sort_wpts %}
        <th>#{{ waypoint.order }} {{ waypoint.waypoint.city }} ({{ waypoint.segment_price }} {{ object.currency }})</th>
    {% endfor %}
    </tr>
    {% for _, passanger in passangers.items %}
    <tr>
        {% for _ in passanger.start|get_range %}<td>.</td>{% endfor %}
        {% for _ in passanger.length|get_range %}<td>{{ passanger.user.user|pretty_name }}</td>{% endfor %}
        {% for _ in passanger.rest|get_range %}<td>.</td>{% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}