{% extends "base.html" %}
{% block content %}
<div id="prechod"><h4>{{ header }}</h4></div>
<div id="stranka">
  <form action="{% url 'login_screen' %}" method="POST">{% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="Přihlásit se" class="tlacitko">
    <p class="informace">
      Po přihlášení můžete svůj účet na Jízdotéce propojit s Vaším účtem na Facebooku pro snadnější a rychlejší přihlašování.
    </p>
  </form>
  <a class="tlacitko" href="{% url 'register' %}">Nemáte účet? Zaregistrujte se zde.</a>
</div>
{% endblock content %}
