<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Jizdoteka - Registrace</title>

  <link rel="icon" type="image/png" href="draft_jizdoteka.svg" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/web/css/styles.css">
</head>
<body>
  <div id="hlavicka"><h1>Jizdoteka.cz</h1></div>
  <div id="prechod"><h4>Registrace</h4></div>
  <div id="stranka">
    <form class="" action="draft_register.html" method="post">
      <input type="text" name="uziv_mail" placeholder="Váš email"/>
      <input type="text" name="uziv_mail_potvrd" placeholder="Váš email - kontrola" />
      <input type="password"  name="uzit_heslo" placeholder="Vaše heslo"/>
      <br />
      <input type="text" name="protirobotova_och" placeholder="<Náhodná otázka>" />
      <input type="button" name="uziv_vstup" value="Registrovat se" id="tlacitko">
      <p class="informace">
        Po přihlášení můžete svůj účet na Jízdotéce propojit s Vaším účtem na Facebooku pro snadnější a rychlejší přihlašování.
      </p>
    </form>
  </div>
</body>
</html>
