body { background: black; padding: 0px; margin: 0 auto; max-width: 1280px; font-family: arial;}
h1 { margin: 0px; padding: 5px; text-align: right; color: white;}
h4 { padding: 10px; margin: 0px; text-align: center;}
p { padding: 4px; margin: 2px;border: 1px solid black; border-radius: 10px;}
input { width: 100%; text-align: center; box-sizing: border-box; border-radius: 10px; padding: 5px; margin-top: 2px; margin-bottom: 2px; }
div { background: #4b9320; }

#prechod {background: linear-gradient(#4b9320, #80e400);}
#stranka {background: #80e400;}
