<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Jizdoteka - Vypsat spolujízdu</title>

  <link rel="icon" type="image/png" href="draft_jizdoteka.svg" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/web/css/styles.css">
</head>
<body>
  <div id="hlavicka"><h1>Jizdoteka.cz</h1></div>
  <div id="prechod"><h2>Vypsat spolujízdu</h2></div>
  <div id="stranka">
    <form class="" action="draft_vypsat_jizdu.html" method="post">

      <!-- Male vysvetleni: Prostejov, Zlin, Brno jsou jako priklady.
      V zasade tady bude nejaky for cyklus, ktery projde DB s mesty (POUZE S MESTY!)
      A vrati zde vysledek. Jako "Placeholder" se muze pouzit prvni option a to Mesto - Počátek / Cil
      Maly pro tip: Stringy mest bych ukladal jako lower-case a bez diakritiky.
      Je to sice blbost, ale alespon nebude problem s kodovanim, pac je to ASCII a tu sezere kde co
      a jako "value" se da pouzit jmeno.lowercase() v pythonu.
      Zvolil jsem select, protoze se dobre chova na mobilech. Tento komment se odstrani po dokonceni. -->
      <h4>Počátek Vaší trasy</h4>
      <select name="odkud">
        <option value="<mesto_zacatek>">Město - Počátek</option>
        <option value="prostejov">Prostějov</option>
        <option value="zlin">Zlín</option>
        <option value="brno">Brno</option>
      </select>

      <h4>Cíl Vaší trasy</h4>
      <select name="kam">
        <option value="<mesto_zacatek>">Město - Cíl</option>
        <option value="prostejov">Prostějov</option>
        <option value="zlin">Zlín</option>
        <option value="brno">Brno</option>
      </select>

      <h4>Pravidelnost</h4>

      <!-- DOTAZ: Mame od uzivatele chtit potvrzeni, ze pojede nebo naopak nepojede? -->
      <p class="poznamka">
        UPOZORNĚNÍ:<br />
        V případě zadání pravidelného dne spolujízdy se použije Vaše cena, čas a trasa.<br />
        Prosím, berte na vědomí, že po vypsání pravidelné spolujízdy se Vás Jízdotéka bude ptát, zda chcete jízdu zrušit.
        Pakliže chcete jezdit opakovaně, můžete dotaz Jízdotéky ignorovat.
      </p>
      <select name="pravidelny_den">
        <option value="jednorazova">Jízda je jednorázová</option>
        <option value="pondeli">Každé pondělí</option>
        <option value="utery">Každé úterý </option>
        <option value="streda">Každou středu</option>
        <option value="ctvrtek">Každý čtvrtek</option>
        <option value="patek">Každý pátek</option>
        <option value="sobota">Každou sobotu</option>
        <option value="nedele">Každou neděli</option>
      </select>

      <h4>Cena spolujízdy</h4>
      <p class="informace">
        Průměrná cena na dané trase:<br />
        << cena >><br />
        Toto má pouze informativní charakter.
        <!-- Zde by se mohl zobrazovat prumer ceny anebo od-do, aby mel vypisovatel
        predstavu, za kolik se na dane trase jezdi.
        POZOR: neslouzi k tomu, aby vznikala "konkurence", ma to slouzit jako
        informace, za kolik se na teto trase da jet. -->
      </p>
      <input type="datetime-local" name="cas_odjezdu" />

      <input type="number" name="cena_spolujizdy" placeholder="Cena Vaší spolujízdy" id="cena_spolujizdy">
      <select id="cena_spolujizdy_sel" name="mena_ceny">
        <option value="none">Měna Vaší ceny</option>
        <option value="czk">Kč</option>
        <option value="eur">Euro</option>
      </select>

      <h4>Poznámky</h4>
      <textarea name="poznamky">Poznámky k Vaší jízdě</textarea>
      <input type="button" name="vytvorit_nabidku" value="Vytvořit nabídku" id="tlacitko">
    </form>
  </div>
</body>
</html>
