<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Jizdoteka - Draft</title>

  <link rel="icon" type="image/png" href="draft_jizdoteka.svg" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./draft.css">
</head>
<body>
  <div>
    <h1>Jizdoteka.cz</h1>
    <div id="prechod"><h4>Přihlášení</h4></div>
    <div id="stranka">
      <form class="" action="index.html" method="post">
        <input type="text" name="uziv_jmeno" placeholder="Váš email"/>
        <input type="password"  name="uzit_heslo" placeholder="Vaše heslo"/>
        <input type="button" name="uziv_vstup" value="Přihlásit se" id="login_tlacitko">
        <p>
          Po přihlášení můžete svůj účet na Jízdotéce propojit s Vaším účtem na Facebooku pro snadnější a rychlejší přihlašování.
        </p>
      </form>
    </div>
  </div>
</body>
</html>
