<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Jizdoteka - Nastavení uživatele</title>

  <link rel="icon" type="image/png" href="draft_jizdoteka.svg" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/web/css/styles.css">
</head>
<body>
  <div id="hlavicka"><h1>Jizdoteka.cz</h1></div>
  <!-- Prozatim jen email. Spojeni s FB a vypisy hodnoceni se asi budou resit samostatne. -->
  <div id="prechod"><h2>Nastavení uživatele</h2></div>
  <div id="stranka">
    <form class="" action="draft_uziv_panel.html" method="post">
      <input type="email" name="email" placeholder="Váš email"/>
      <input type="submit" value="Uložit změny" id="tlacitko"/>
    </form>
  </div>
</body>
</html>
